# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
# datadir=/var/lib/mysql
# socket=/var/lib/mysql/mysql.sock
socket=/var/run/mysqld/mysqld.sock

# Recommended in standard MySQL setup
# sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
default-storage-engine=INNODB
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
# default_authentication_plugin=mysql_native_password
authentication_policy=*

# 追加部分
join_buffer_size = 128M
skip-external-locking 
key_buffer_size = 32M 
max_allowed_packet=20M 
table_open_cache = 128 
sort_buffer_size = 768K 
read_buffer_size = 768K 
read_rnd_buffer_size = 256K 
myisam_sort_buffer_size = 8M 
thread_cache_size = 16 
tmp_table_size = 32M 
lower_case_table_names=1
max_connections = 500  # 生產環境配置5000
max_connect_errors = 100 # 生產環境配置1000
open_files_limit = 65535 
log-bin=mysql-bin
binlog_format=mixed 
server-id = 1
binlog_expire_logs_seconds = 604800
max_binlog_size = 500M
long_query_time=3
innodb_buffer_pool_size = 128M 
innodb_log_file_size = 64M 
innodb_log_buffer_size = 16M 
innodb_flush_log_at_trx_commit = 1 
innodb_lock_wait_timeout = 50 
innodb_max_dirty_pages_pct = 90 
innodb_read_io_threads = 1 
innodb_write_io_threads = 1

[mysqldump] 
quick
max_allowed_packet=20M 

[mysql] 
no-auto-rehash 

[myisamchk] 
key_buffer_size = 32M 
sort_buffer_size = 768K 
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

# 追加完


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
default-character-set=utf8mb4 
